@model WebApi.AGENCY
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAgency.cshtml";

}
<link href="~/Content/createagency.css" rel="stylesheet" />

<div class="container all-box">

    @using (DOANCHUYENNGANHEntities data = new DOANCHUYENNGANHEntities())
    {
        var idUser = ((USER)Session["TaiKhoan"]);

        var item = data.AGENCies.Where(x => x.IDUSER == idUser.IDUSER).FirstOrDefault();

        <div class="col-lg-10">
            <br />
            <div class="container all-box">
                <div class="back-ground">
                    @if (item.IMGAGENCies.Count() <= 1)
                    {
                        <img src="~/img/no-img.jpg" class="d-block w-100" alt="...">
                    }
                    else
                    {
                        <img class="d-block w-100" src="~/img/agency/@item.IMGAGENCies.ElementAt(1).FILENAME">
                    }
                    <div class="avatar">
                        @if (item.IMGAGENCies.FirstOrDefault() == null)
                        {
                            <img class="avatar" src="~/img/no-image.jpg">
                        }
                        else
                        {
                            <img src="~/img/agency/@item.IMGAGENCies.FirstOrDefault().FILENAME" class="avatar" alt="...">

                        }
                    </div>
                </div>
                <div class="contant_info">
                    <div class="name-agency">

                        <h2 class="md-display-2">@item.NAMEAGENCY</h2>
                        <span><a href="/Agency/Update/@item.IDAGENCY" class="icon"><i class="fas fa-pen"></i></a></span>
                        @*<i class="fas fa-pen" style="float:right;" onclick="window.location.href = '@Url.Action("Update","Agency")' @item.IDAGENCY;"></i>*@
                    </div>
                    <div class="address">
                        <span class="s-address">@item.ADDRESSAGENCY</span>
                    </div>
                    <div class="content-info">
                        <div class="noidung">
                            @Html.Raw(item.DESCRIPTION)
                        </div>
                    </div>
                </div>

                <div class="works-history">
                    <div class="card card-outline-secondary my-4">

                        <div class="card-header">
                            <b>Đã tổ chức (3) bởi @item.NAMEAGENCY</b>
                        </div>

                        <div class="card-info">
                            <div class="card card-flex" style="width: 18rem;">
                                <img src="~/img/no-image.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">
                                    </h5>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--thông tin -->
                <div class="Services">
                    <div class="card card-outline-secondary my-4">
                        <div class="card-header">
                            <b>Thông tin chi tiết</b>
                            <i class="fas fa-pen" style="float:right;" onclick="window.location.href = '@Url.Action("Update","Agency")' @item.IDAGENCY;"></i>
                        </div>
                        <div class="card-info">
                            <ul class="danhsach">
                                <li>
                                    <b>Email:</b> @item.EMAILAGENCY
                                </li>
                                <li>
                                    <b>Số Điện Thoại:</b>@item.PHONEAGENCY
                                </li>
                                <li>
                                    <b>
                                        Mạng xã hội: <i class="fab fa-facebook-f" style="margin-left:10px;"></i> <i class="fa fa-envelope" style="margin-left:10px;"></i>  <i class="fab fa-google-plus-g"  style="margin-left:10px;"></i> </b>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--card items-->
                <div class="Services">
                    <div class="card card-outline-secondary my-4">
                        <div class="card-header">
                            <b>Dịch vụ</b>
                            <i class="fas fa-pen" style="float:right;" onclick="window.location.href = '@Url.Action("Service","Agency")';"></i>
                        </div>
                        <div class="card-info">
                            @foreach (var service in data.SERVICES.Where(x => x.IDAGENCY == item.IDAGENCY).ToList())
                            {
                                <div class="list-group">
                                    <a href="#" class="tag_DV">@service.NAMESERVICES</a>
                                    <a class="tag_number">@service.BEGIN_PRICE - @service.MAX_PRICE</a>
                                </div>
                           

                            }
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    }

</div>