
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_LayoutAgency.cshtml";
}
<link href="~/Content/service_agency.css" rel="stylesheet" />
<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
<br />
<h2>Dịch vụ của bạn</h2>

<div class="panel_service">
    <div class="btn_table">
        <div class="text-left">
            <button type="button" class="btn btn-default btn-block btn-lg" onclick="CreateService()"><i class="fa fa-plus"></i> Thêm dịch vụ</button>
        </div>
    </div>
</div>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-striped" id="myTable">
            <thead>
                <tr>
                    <th scope="col">Tên Dịch vụ</th>
                    <th scope="col">Mô tả</th>
                    <th scope="col">Giá khởi điểm</th>
                    <th scope="col">Giá cao nhất</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @using (DOANCHUYENNGANHEntities db = new DOANCHUYENNGANHEntities())
                {
                    var idUser = ((USER)Session["TaiKhoan"]);

                    var agency = db.AGENCies.Where(x => x.IDUSER == idUser.IDUSER).FirstOrDefault();


                    foreach (var item in db.SERVICES.Where(x=>x.IDAGENCY == agency.IDAGENCY).ToList())
                    {
                        <tr>
                            <td>@item.NAMESERVICES</td>
                            <td>@item.SUMARYSERVICES</td>
                            <td>@item.BEGIN_PRICE</td>
                            <td>@item.MAX_PRICE</td>
                            <th>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-primary" onclick="EditSurvice(@item.IDSERVICES)"><i class="fa fa-edit"></i></button>
                                    <button type="button" class="btn btn-danger" onclick="DeleteService(@item.IDSERVICES)"><i class="fa fa-trash"></i></button>
                                </div>
                            </th>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>

@*--Modal dialog--*@
<div id="create-service-model" class="modal fade create-service-md" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm dịch vụ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label">Tên dịch vụ</label>
                        <input type="text" class="form-control" name="NAME">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Mô tả dịch vụ</label>
                        <textarea type="text" class="form-control s-area" minlength="5" maxlength="6000" name="DESCRIPTION"></textarea>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Giá khởi điểm</label>
                        <input type="number" class="form-control" name="BEGIN_PRICE">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Giá cao nhất</label>
                        <input type="number" class="form-control" name="MAX_PRICE">
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="SaveInfo()">Lưu lại</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
    var IdService = 0;

    function EditSurvice(id) {
        IdService = id;

        $.ajax({
            url: '/Ajax/GetService/' + IdService,
            type: 'POST',
            dataType: 'text',
            data: {
                id: IdService,
            }
        }).done(function (ketqua) {
            var json = JSON.parse(ketqua);
            $("[name='NAME']").val(json.NAME);
            $("[name='DESCRIPTION']").val(json.DESCRIPTION);
            $("[name='BEGIN_PRICE']").val(json.giakd);
            $("[name='MAX_PRICE']").val(json.giamax);
            $('#create-service-model').modal("show");
        });
    }

    function DeleteService(id) {
        if (!confirm("Bạn có thực sự muốn xóa danh mục này không?")) return;
        $.ajax({
            url: '/Ajax/DeleteService/' + id,
            type: 'DELETE',
            dataType: 'text'
        }).done(function (ketqua) {
            if (ketqua == "ok") {
                alert("Xóa thành công");
                location.reload();
                return;
            }
            alert(ketqua);
        });
    }

    function CreateService() {
        IdService = 0;
        $("[name='NAME']").val("");
        $("[name='DESCRIPTION']").val("");
        $("[name='BEGIN_PRICE']").val(0);
        $("[name='MAX_PRICE']").val(0);
        $("#create-service-model").modal("show");
    }

    function SaveInfo() {
        var name = $("[name='NAME']").val();
        var description = $("[name='DESCRIPTION']").val();
        var giakd = $("[name='BEGIN_PRICE']").val();
        var giamax = $("[name='MAX_PRICE']").val();
        if (name == '' || description == '' && giakd == 0 && giamax == 0) {
            alert('Vui lòng nhập đủ thông tin');
            return;
        }


        $.ajax({
            url: '/Ajax/PostService',
            type: 'POST',
            dataType: 'text',
            data: {
                IDSERVICES: IdService,
                NAMESERVICES: name,
                SUMARYSERVICES: description,
                BEGIN_PRICE: giakd,
                MAX_PRICE: giamax
            }
        }).done(function (ketqua) {
            if (ketqua == "ok") {
                alert("Lưu dữ liệu thành công");
                location.reload();
                return;
            }
            alert(ketqua);
        });
    }
</script>