@model WebApi.AGENCY

@{
    ViewBag.Title = "Thông tin chi tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/agency_info.css" rel="stylesheet" />
<link href="~/Content/modal_show.css" rel="stylesheet" />

<div hidden>
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="..." class="rounded mr-2" alt="...">
            <strong class="mr-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>

<div class="row all-layout">

    @using (DOANCHUYENNGANHEntities db = new DOANCHUYENNGANHEntities())
    {
        int IDAGENCY = Model.IDAGENCY;
        var agency = db.AGENCies.Where(x => x.IDAGENCY == IDAGENCY).FirstOrDefault();
        <div class="col-lg-2">
            <br />
            <div class="s-agency-summary">
                <img class="cover" src="~/img/agency/@agency.IMGAGENCies.FirstOrDefault().FILENAME">
                <h5>@agency.NAMEAGENCY</h5>
                <div class='rating-stars'>
                    <ul id='stars'>
                        <li class='star' title='Poor' data-value='1'>
                            <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Fair' data-value='2'>
                            <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Good' data-value='3'>
                            <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Excellent' data-value='4'>
                            <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='WOW!!!' data-value='5'>
                            <i class='fa fa-star fa-fw'></i>
                        </li>
                    </ul>
                    <a class="reviews">(5 REVIEWS)</a>
                    <button type="button" class="btn btn-primary btn-block btn-lg lien-he" id="modal_lienhe">
                        Liên Hệ
                    </button>
                </div>
                <div class="certifications">
                    <h2 class="sub"><b>Chứng nhận</b>&nbsp;của @agency.NAMEAGENCY</h2>
                </div>
                <div class="checked">
                    <i class="fa fa-check"></i>
                    <p>Được chứng nhận Sortlist</p>
                </div>
                <div class="checked">
                    <i class="fa fa-check"></i>
                    <p>Được xác minh bởi chủ sở hữu</p>
                </div>
                <div class="location">
                    <h2 class="sub"><b>Địa chỉ</b>&nbsp;của @agency.NAMEAGENCY</h2>
                </div>
                <div class="map-marker">
                    <i class="fa fa-location-arrow" style="margin:0 10px 0 10px;"></i>
                    <p>@agency.ADDRESSAGENCY</p>
                    <div class="map">

                    </div>
                </div>
                <!--Dich vu-->
                <div class="dich_vu">
                    <h2 class="sub"><b>Dịch vụ</b>&nbsp;được cung cấp bởi @agency.NAMEAGENCY</h2>
                </div>
                <div class="layout-row layout-wrap">
                    @using (DOANCHUYENNGANHEntities data = new DOANCHUYENNGANHEntities())
                    {
                        foreach (var service in data.SERVICES.Where(x => x.IDAGENCY == agency.IDAGENCY).ToList())
                        {

                            <a href="#" class="tag_DV">@service.NAMESERVICES</a>

                        }
                    }
                </div>
                <br />
                <!--liên hệ-->
                <div class="lienhe">
                    <h2 class="sub"><b>Thông tin</b>&nbsp;liên hệ của @agency.NAMEAGENCY</h2>
                </div>
                <div class="layout-row layout-wrap">
                    <a href="#"><i class="fa fa-envelope"></i> @agency.EMAILAGENCY</a>
                    <br /><br />
                    <a href="#"><i class="fa fa-phone"></i> @agency.PHONEAGENCY</a>
                </div>
            </div>
        </div>

        <!--end col-lg-2-->

        <div class="col-lg-10">
            <br />
            <div class="container all-box">
                @if (agency.IMGAGENCies.Count() <= 1)
                {
                    <img src="~/img/no-img.jpg" class="d-block w-100" alt="...">
                }
                else
                {
                    <img class="d-block w-100" src="~/img/agency/@agency.IMGAGENCies.ElementAt(1).FILENAME">
                }
                <div class="contant_info">
                    <h2 class="md-display-2">@agency.NAMEAGENCY</h2>
                    <div class="address">
                        <span class="s-address">@agency.ADDRESSAGENCY</span>
                    </div>
                    <div class="content-info">
                        <p>
                            @Html.Raw(agency.DESCRIPTION)
                        <p>
                    </div>
                </div>

                <div class="works-history">
                    <div class="card card-outline-secondary my-4">
                        <div class="card-header">
                            <b>Works (3) by @agency.NAMEAGENCY</b>
                        </div>
                        @*<div class="card-info">
                                <div class="card card-flex" style="width: 18rem;">
                                    <img src="./img/summit-2.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            Digital Transformation: Survive and Thrive – Cách mạng số và
                                            những bước ngoặt lịch sử
                                        </h5>
                                    </div>
                                </div>

                                <div class="card card-flex" style="width: 18rem;">
                                    <img src="./img/summit-2.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            Digital Transformation: Survive and Thrive – Cách mạng số và
                                            những bước ngoặt lịch sử
                                        </h5>
                                    </div>
                                </div>
                                <div class="card card-flex" style="width: 18rem;">
                                    <img src="./img/summit-2.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            Digital Transformation: Survive and Thrive – Cách mạng số và
                                            những bước ngoặt lịch sử
                                        </h5>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                <!--card items-->
                <div class="Services">
                    <div class="card card-outline-secondary my-4">
                        <div class="card-header">
                            <b>Dịch vụ</b>
                        </div>
                    </div>
                    <canvas id="sitemap" width="1108" height="300" class="arbor" style="opacity: 1;"></canvas>
                </div>

                <div class="Comment">
                    <div class="card card-outline-secondary my-4">
                        <div class="card-header">
                            <b>Bình luận</b>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
</div>

<!--modal 1-->
@if (Session["TaiKhoan"] != null && ((USER)Session["TaiKhoan"]).IDROLE == 3)
{
    var user = (USER)Session["TaiKhoan"];
    using (DOANCHUYENNGANHEntities db = new DOANCHUYENNGANHEntities())
    {
        var agency = db.AGENCies.Where(x => x.IDAGENCY == Model.IDAGENCY).FirstOrDefault();
        foreach (var item in db.AGENCies.Where(x => x.IDAGENCY == agency.IDAGENCY).ToList())
        {
            <div class="modal fade" id="Modal1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content dialog_lienhe">
                        <div class="modal-header modal-lienhe">
                            <h4 class="modal-title">Liên hệ @item.NAMEAGENCY</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body exp-choice-container">
                            <a id="contact-agency" href="#Modal2" class="exp-send-message-btn" data-dismiss="modal"
                               style="color: rgba(73, 80, 101, 1.0); text-align: center; display: block; padding: 2rem; border-radius: 6px;">
                                <span class="" style="display:block;">

                                    <i class="fas fa-envelope" style="font-size: 6rem;"></i>
                                </span>
                                <span style="display: block; line-height: 1.25;">
                                    Gửi yêu cầu đến
                                    <span class="exp-agency-name">@item.NAMEAGENCY</span>
                                </span>
                            </a>
                            <span style="display: block; border-left: solid 1px rgb(221, 226, 239); border-top: solid 1px rgb(221, 226, 239); margin: 1rem;"></span>
                            <a id="login" href="#" data-toggle="modal" data-dismiss="modal" class="exp-send-message-btn"
                               style="color: rgba(73, 80, 101, 1.0); text-align: center; display: block; padding: 2rem; border-radius: 6px;">
                                <span class="" style="display:block;">
                                    <i class="far fa-calendar" style="font-size: 6rem;"></i>
                                </span>
                                <span style="display: block; line-height: 1.25;">
                                    @item.NAMEAGENCY
                                    <span class="exp-agency-name">có phù hợp với dự án của tôi?</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

    using (DOANCHUYENNGANHEntities db = new DOANCHUYENNGANHEntities())
    {
        var agency = db.AGENCies.Where(x => x.IDAGENCY == Model.IDAGENCY).FirstOrDefault();
        var idUser = ((USER)Session["TaiKhoan"]);
        var custom = db.CUSTOMERs.Where(x => x.IDUSER == idUser.IDUSER).FirstOrDefault();
        foreach (var item in db.AGENCies.Where(x => x.IDAGENCY == agency.IDAGENCY).ToList())
        {
            <form role="form" action="/Agency_Info/AddOrder/" method="post" class="registration-form">
                <div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Liên hệ @item.NAMEAGENCY</h4>
                            </div>
                            <div class="modal-body">

                                <div class="form-top">
                                    <div class="form-top-left">
                                        <h6>Step 1 / 2</h6>
                                    </div>
                                </div>
                                <h4 class="customer_info">Thông tin của bạn</h4>
                                <div class="form-bottom">
                                    <div class="form-group">
                                        <input value="@custom.NAMECUSTOM" class="form-control" type="text">
                                    </div>
                                    <div class="form-group">
                                        <input value="@custom.PHONECUSTOM" class="form-control" type="text">
                                    </div>
                                    <div class="form-group">
                                        <input value="@custom.ADDRESSCUSTOM" class="form-control" type="text">
                                    </div>
                                    <div class="form-group">
                                        <input value="@custom.EMAILCUSTOM" class="form-control" type="text">
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary btn-send btn-next">Tiếp theo</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="Modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Liên hệ @item.NAMEAGENCY</h4>
                            </div>
                            <div class="modal-body">

                                <div class="form-top">
                                    <div class="form-top-left">
                                        <h6>Step 2 / 2</h6>
                                    </div>
                                </div>
                                <h4 class="customer_info">Chọn dịch vụ</h4>
                                @foreach (var service in db.SERVICES.Where(x => x.IDAGENCY == item.IDAGENCY).ToList())
                                {
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="dsDV" value="@service.IDSERVICES">
                                            @service.NAMESERVICES
                                        </label>
                                    </div>
                                }
                                <input name="IDAGENCY" value="@Model.IDAGENCY" hidden />
                                <h4 class="customer_info">Ghi chú </h4>
                                <div class="modal-body">
                                    <div class="md-resize-wrapper">
                                        <textarea required="" minlength="5" maxlength="6000" 
                                                  class="s-textarea ng-pristine ng-valid md-input ng-empty ng-valid-required ng-touched"
                                                  rows="6" name="note" id="exp-contact-message"
                                                  placeholder="ghi chú của bạn" style="height: 168px;"></textarea>
                                    </div>

                                </div>

                                <button type="button" class="btn btn-primary btn-prev btn-send">Quay lại</button>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" id="btnSubmit" class="btn btn-primary btn-send">Gửi yêu cầu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        }
    }
}

else
{
    <div class="modal fade" id="Modal1" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><img src="~/img/logo.svg" style="height: 1.5em; max-width: 100px;"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container layout-login">
                        <div class="login">Đăng nhập</div>
                        <div class="signup">Đăng Ký</div>
                        <!--form login-->

                        <div class="login-form">
                            <form method="post" action="/Home/DangNhap">
                                @if (!String.IsNullOrEmpty(ViewBag.Error))
                                {
                                    <div class="alert alert-danger" role="alert">
                                        @ViewBag.Error
                                    </div>
                                }
                                <input type="text" placeholder="Nhập tên đăng nhập" name="USERNAME" class="input"><br>
                                <input type="password" placeholder="Nhập mật khẩu" name="PASSWORD" class="input"><br>
                                <input id="login" class="btn btn-primary btn-login" type="submit" value="Đăng Nhập">
                            </form>
                        </div>

                        <form method="post" action="/Home/DangKy">
                            <!--form sign-->
                            <div class="signup-form">
                                @if (!String.IsNullOrEmpty(ViewBag.Error))
                                {
                                    <div class="alert alert-danger" role="alert">
                                        @ViewBag.Error
                                    </div>

                                }
                                <input type="text" placeholder="Họ và Tên" name="hoten" class="input" id="hoten" />
                                <input type="text" placeholder="Tên Đăng Nhập" name="tendn" class="input" id="tendn"><br>
                                <input type="password" placeholder="Mật khẩu" name="matkhau" class="input" id="matkhau"><br>
                                <input class="btn btn-primary btn-signin" type="submit" id="dangky" value="Đăng ký">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script>
    $(document).ready(function () {
        $('#btnSubmit').click(function () {

            alert("Bạn đã gửi thành công");
        });
    });
   
</script>