<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/img/logo-sl.png" rel="shortcut icon" type="image/x-icon" />
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/all.min.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="~/Content/LayoutCustom.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-white fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/Home/Index">
                <img src="~/img/logo.svg" style="height: 1.5em; max-width: 100px;">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation"></button>
            <div class="dropdown">
                <button class="btn btn-ouline-white menu1" data-toggle="dropdown">Khách hàng</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Khám phá</a>
                    <a class="dropdown-item" href="#">Tôi cần một công ty</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-ouline-white menu2" data-toggle="dropdown">Nhà cung cấp</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Giá cả</a>
                    <a class="dropdown-item" href="#">Sự kiện nổi bật</a>
                </div>
            </div>

            @if (Session["TaiKhoan"] != null && ((USER)Session["TaiKhoan"]).IDROLE == 3)
            {
                var fullname = ((USER)Session["TaiKhoan"]).FULLNAME;
                var idCustom = ((USER)Session["TaiKhoan"]).IDUSER;
                <div class="dropdown">
                    <button type="button" class="btn btn-ouline-white menu2" data-toggle="dropdown">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small"><b>@fullname</b></span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/Customer/Info/@idCustom">Thông tin của bạn</a>
                        <a class="dropdown-item" href="/Home/Logout">Đăng Xuất</a>
                    </div>
                </div>
            }
            else
            {
                <div class="collapse navbar-collapse" id="navbarResponsive">

                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            <button class="btn btn-outline-primary btn-1" type="button"
                                    onclick="window.location.href = '@Url.Action("SignUp","Login")';">
                                Nhà cung cấp
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-primary btn-2" type="button" id="Mybtn">
                                Tìm đối tác
                            </button>
                        </li>
                    </ul>
                </div>
            }

        </div>
    </nav>

    <div class="row all-layout">
        <div class="col-lg-2">
            <div class="s-custom-summary">
                <br />
                <div class="list-info">
                    <a href="/Customer"><h2 class="sub">Thông tin</h2></a>
                </div>

            </div>
        </div>

        <!--end col-lg-2-->
        <div class="col-lg-10">
            <div class="all-box">
                @if (Session["TaiKhoan"] != null)
                {

                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            @{
                                var fullname = ((USER)Session["TaiKhoan"]).FULLNAME;
                            }
                            <li class="breadcrumb-item">
                                chỉnh sửa thông tin cá nhân
                            </li>
                            <li class="breadcrumb-item active">
                                @fullname
                            </li>
                        </ol>
                    </nav>
                }
                 </div>
                @RenderBody()
            </div>
        </div>
</body>
</html>
